# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file

# The development sqlite file
database/development.sqlite
.idea/

firebase-debug.log
config/niduu-1961d-firebase-adminsdk-tgmg8-aed6994dff.json