<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aula VueJS</title>
    <link integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous"
          rel="stylesheet">
    <style>
        [v-cloak] > * {
            display: none
        }

        [v-cloak]::before {
            content: "Carregando …"
        }

        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active em versões anteriores a 2.1.8 */
        {
            transform: translateX(10px);
            opacity: 0;
        }
    </style>
</head>
<body>

<div id="app" v-cloak>
    <nav-bar></nav-bar>
    <p>{{titulo}}</p>

    <ul>
        <li><router-link :to="{name: 'transformers'}">Transformers</router-link></li>
        <li><router-link :to="{name: 'gameOfThrones'}">Game Of thrones</router-link></li>
    </ul>

    <router-view></router-view>

    <button @click.stop.prevent="getUsers()" class="btn btn-success">Obter usuários</button>

    <transition name="slide-fade">
        <ul ref="users" v-if="users.length">
            <li v-for="user in users" :key="user.email">{{user.name}}</li>
        </ul>
    </transition>

    <div class="progress" v-if="loading.users">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="alert alert-danger" role="alert" v-if="errorMessage.display">
        {{errorMessage.statusText}}
        <button type="button" class="close" aria-label="Close" @click.stop.prevent="dismissAlertError()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<template id="transformers">
    <div>
        <h4>Transformers</h4>
        <ul>
            <li><router-link :to="{name: 'transformersContent', params: {name: 'transformers-1'}}">transformers 1</router-link></li>
            <li><router-link :to="{name: 'transformersContent', params: {name: 'transformers-2'}}">transformers 2</router-link></li>
            <li><router-link :to="{name: 'transformersContent', params: {name: 'transformers-3'}}">transformers 3</router-link></li>
        </ul>
        <router-view></router-view>
    </div>
</template>

<template id="game-of-thrones">
    <div>
        <h4>Game Of thrones</h4>
        <ul>
            <li>game-of-thrones 1</li>
            <li>game-of-thrones 2</li>
            <li>game-of-thrones 3</li>
        </ul>
    </div>
</template>

<template id="transformers-content">
    <div>
        <h3>Transformers Content</h3>
        {{$route.params.name}}
    </div>
</template>

<template id="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <menu-bar :items="menuItems" @emit-click="getLink"></menu-bar>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</template>

<template id="menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" v-for="(item, $index) in items">
            <a @click.stop.prevent="emitClick($index)" class="nav-link" href="#">{{item.label}}</a>
        </li>
    </ul>
</template>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->

<script>

    var mixin = {
        data: {
            loading: {
                users: false
            },
            errorMessage: {
                display: false
            }
        },
        methods: {
            dismissAlertError() {
                this.errorMessage.display = false;
                delete this.errorMessage.statusText;
            },
            getUsers() {
                var url = "http://jsonplaceholder.typicode.com/users";
                this.loading.users = true;
                this.$http.get(url)
                    .then(({body}) => {
                        this.users = body;
                    })
                    .catch(({status, statusText}) => {
                        this.errorMessage.display = true;
                        this.errorMessage.statusText = statusText;
                    })
                    .finally(() => {
                        this.loading.users = false;
                    });
            }
        }
    };

    var Transformers = Vue.component('transformers', {
        template: '#transformers'
    });

    var TransformersContent = Vue.component('transformers-content', {
        template: '#transformers-content'
    });

    var GameOfThrones = Vue.component('game-of-thrones', {
        template: '#game-of-thrones'
    });

    var router = new VueRouter({
        // mode: 'history',
        routes: [{
            path: '/',
            name: '/home',
            redirect: {
                name: 'transformersContent',
                params: {
                    name: "goku"
                }
            }
        },{
            path: '/transformers',
            component: Transformers,
            name: 'transformers',
            children: [{
                path: ':name',
                name: 'transformersContent',
                component: TransformersContent
            }]
        }, {
            path: '/game-of-thrones',
            component: GameOfThrones,
            name: 'gameOfThrones'
        }, {
            path: '*',
            name: 'error404',
            component: Vue.component('error-404', {
                template: "<p>404 - não encontrado.</p>"
            })
        }]
    });

    Vue.component('nav-bar', {
        template: "#nav",
        data() {
            return {
                menuItems: [{
                    label: "Menu 1"
                }, {
                    label: "Menu 2"
                }, {
                    label: "Menu 3"
                }]
            };
        },
        methods: {
            getLink($index) {
                alert(this.menuItems[$index].label);
            }
        }
    });

    Vue.component('menu-bar', {
        template: "#menu",
        props: {
            items: {
                type: Array,
                required: true
            }
        },
        methods: {
            emitClick($index) {
                this.$emit('emit-click', $index);
            }
        }
    });

    var app = new Vue({
        el: "#app",
        router,
        mixins: [mixin],
        data: {
            titulo: "teste",
            users: []
        }
    });
</script>
</body>
</html>